#**The Shortcut Challenges: Data Analyst Intern**

#Numpy Challenge

How would compute the row wise counts of all possible values in an array as in - compete the counts of unique values row-wise?

In [0]:
#importing libraries

import pandas as pd
import numpy as np

In [36]:
np.random.seed(100)
arr = np.random.randint(1,11,size=(6, 10))
arr

array([[ 9,  9,  4,  8,  8,  1,  5,  3,  6,  3],
       [ 3,  3,  2,  1,  9,  5,  1, 10,  7,  3],
       [ 5,  2,  6,  4,  5,  5,  4,  8,  2,  2],
       [ 8,  8,  1,  3, 10, 10,  4,  3,  6,  9],
       [ 2,  1,  8,  7,  3,  1,  9,  3,  6,  2],
       [ 9,  2,  6,  5,  3,  9,  4,  6,  1, 10]])

In [37]:
count_result = []
for row in arr:
  count_row = []
  for number in range(1,11):
    count_row.append(np.count_nonzero(row==number))
  count_result.append(count_row)
count_result

[[1, 0, 2, 1, 1, 1, 0, 2, 2, 0],
 [2, 1, 3, 0, 1, 0, 1, 0, 1, 1],
 [0, 3, 0, 2, 3, 1, 0, 1, 0, 0],
 [1, 0, 2, 1, 0, 1, 0, 2, 1, 2],
 [2, 2, 2, 0, 0, 1, 1, 1, 1, 0],
 [1, 1, 1, 1, 1, 2, 0, 0, 2, 1]]

#Pandas Challenge

In [38]:
#Load dataset
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv',usecols= [0,1,2,3,5])

# Take a look at the first few rows
df.head(5)

  Manufacturer    Model     Type  Min.Price  Max.Price
0        Acura  Integra    Small       12.9       18.8
1          NaN   Legend  Midsize       29.2       38.7
2         Audi       90  Compact       25.9       32.3
3         Audi      100  Midsize        NaN       44.6
4          BMW     535i  Midsize        NaN        NaN

In [39]:
#Inspect null values
df.isnull().sum()

Manufacturer    4
Model           1
Type            3
Min.Price       7
Max.Price       5
dtype: int64

In [0]:
# Replace 'NaN' values with string 'missing'
df=df[['Manufacturer', 'Model', 'Type']].apply(lambda x: x.fillna('missing'))

In [42]:
# Total missing values for each feature
df.isnull().sum()

Manufacturer    0
Model           0
Type            0
dtype: int64

In [43]:
df.head(20)

   Manufacturer       Model     Type
0         Acura     Integra    Small
1       missing      Legend  Midsize
2          Audi          90  Compact
3          Audi         100  Midsize
4           BMW        535i  Midsize
5         Buick     Century  Midsize
6         Buick     LeSabre    Large
7         Buick  Roadmaster    Large
8         Buick     Riviera  Midsize
9      Cadillac     DeVille    Large
10     Cadillac     Seville  Midsize
11    Chevrolet    Cavalier  Compact
12    Chevrolet     Corsica  Compact
13    Chevrolet      Camaro   Sporty
14    Chevrolet      Lumina  Midsize
15    Chevrolet  Lumina_APV      Van
16    Chevrolet       Astro      Van
17    Chevrolet     Caprice    Large
18    Chevrolet    Corvette   Sporty
19      missing    Concorde    Large

In [46]:
#Create a primary index  by combining relevant columns
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type

#Take a look at first five rows
df.head(5)

                       Manufacturer    Model     Type
Acura_Integra_Small           Acura  Integra    Small
missing_Legend_Midsize      missing   Legend  Midsize
Audi_90_Compact                Audi       90  Compact
Audi_100_Midsize               Audi      100  Midsize
BMW_535i_Midsize                BMW     535i  Midsize

In [45]:
#Is index a primary key?
df.index.is_unique

True